:root {
    --border-color: rgb(185, 185, 185);
    --border-radius: 20px;
    --black-color: #333;
    --caption-color: #3B5998;
    --focus-color: #29B0D9;
    color: var(--black-color);
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

html {
    padding: 1rem;
    min-width: 600px;
    max-width: 1280px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    :root {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    :root {
        font-size: 12px;
    }
}

header {
    position: relative;
}

header nav {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 0.75rem 0.25rem;
    margin-top: 1rem;
    text-align: center;
    background-color: #18444F;
}

header nav .header_name{
    color: white;
}

body {
    background: no-repeat center/80% url(/img/petr.jpg);
}

.middle {
    margin-top: 1rem;
    overflow: auto;
    background-color: #A8B2AA;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

aside {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5B7A7D;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.right_game:hover {
    background-color: #73999C;
}

.left_info:hover {
    background-color: #73999C;
}

aside span{
    color: white;
    font-size: 1.5rem;
}

.right_game {
    float: right;
    width: 45%;
    height: 20rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    text-align: center;
    vertical-align: center;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.left_info {
    float:left;
    width: 45%;
    height: 20rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    text-align: center;
    vertical-align: center;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.none {
    display: none;
}

.themes_data_visible {
    position: absolute;
    top: 10rem;
    left: 22rem;
    background-color: #898F8B;
    width: 30rem;
    height: 15rem;
    border: 1px solid;
    border-radius: 10px;
    font-size: 1.3rem;
    padding: 1rem;
}

a{
    text-decoration: none;
    color: white;
}

.krest {
    position: absolute;
    right: 1rem;
    top: 0.3rem;
    font-size: 2rem;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    color: #0B201B;
    cursor: pointer;
}

li{
    list-style-type: none;
    margin-top: 0.15rem;
}